@page "/"

<PageTitle>Pedestrian Crossing FSM Demo</PageTitle>

<div style="display: flex; flex-direction: row;">
    <div style="flex: 1 1 auto;">
        <TrafficLight />
    </div>
    <div style="flex: 1 1 auto;">
        <XingRequest />
    </div>
</div>